/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  block-size: max(100dvb, 668px);
  max-inline-size: 100%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: clamp(10px, 2.7vw, 20px);
  right: clamp(10px, 2.7vw, 20px);
  display: block;
  border-inline-end: 1px solid var(--button-color, #FF0070);
  border-block-start: 1px solid var(--button-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: clamp(10px, 2.7vw, 20px);
  left: clamp(10px, 2.7vw, 20px);
  display: block;
  border-inline-start: 1px solid var(--button-color, #FF0070);
  border-block-end: 1px solid var(--button-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
}

.header__rec-label {
  position: absolute;
  top: clamp(10px, 2.67vw, 20px);
  right: clamp(20px, 3.8vw, 30px);
  display: flex;
  gap: var(--gap-base, 10px);
  color: var(--button-color, #FF0070);
  font-size: var(--font-size-base, 18px);
}

.header__rec-label::after {
  content: "";
  display: block;
  align-self: center;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--button-color, #FF0070);
  background-color: var(--button-color, #FF0070);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: clamp(11.5px, 0.0157vw + 5px, 23px);
}

.header__theme-menu-button {
  border: none;
  color: var(--button-color, #FF0070);
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--font-size-base, 18px);
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
  block-size: 25px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color, #FF0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid #FF007066;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color, #FF0070);
  pointer-events: none;
}

.header__title {
  color: var(--title-color, #DB00FF);
  font-weight: var(--font-weight-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: clamp(95.7px, calc(5vw + 40px), 129.53px);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header__text {
  justify-self: end;
  font-weight: var(--font-weight-bold, 700);
  max-inline-size: max(355px, 47.4vw);
}

.title-decor {
  color: var(--primary-subtitle-color, #000028);
  background-color: var(--accent-color, #FF0070);
}

.content {
  display: flex;
  flex-direction: column;
  gap: clamp(3.125rem, 7.634vw + 1.336rem, 5rem);
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.section {
  display: grid;
  gap: var(--gap-medium, 20px);
}

.reasons {
  margin-block-start: clamp(1.813rem, 2.545vw + 1.216rem, 2.438rem);
}

.sections__title {
  color: var(--secondary-subtitle-color, #FF0070);
  font-weight: var(--font-weight-bold, 700);
  text-align: left;
}

.reasons__block {
  display: grid;
  gap: var(--gap-base, 10px);
}

.sections__subtitle {
  font-weight: var(--font-weight-bold, 700);
  text-align: left;
  text-decoration-skip-ink: none;
}

.sections__text {
  color: var(--main-text-color, #F1B2CE);
  font-weight: var(--font-weight-normal, 400);
  text-align: left;
  text-decoration-skip-ink: none;
}

.links-decor {
  text-decoration: none;
  text-shadow: 2px 1.5px 0 var(--accent-color, #FF0070);
}

.links-decor:hover {
  border-bottom: 1px solid;
}

.links-decor:focus {
  outline: none;
}

.links-decor:focus-visible {
  outline: 1px solid;
}

.factors__block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base, 10px);
}

.tips__block {
  display: grid;
  gap: var(--gap-medium, 20px);
}

.tips__item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base, 10px);
}

.tips__item-title {
  font-weight: var(--font-weight-normal, 400);
  text-align: left;
}

.gallery {
  gap: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
  padding-block-end: 30px;
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: max(100dvb, 640px);
}

.footer__title {
  color: var(--title-color, #DB00FF);
  font-weight: var(--font-weight-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: clamp(95.7px, 7vw + 40px, 129.53px);
  text-align: center;
  text-decoration-skip-ink: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -19px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .section:last-child {
    margin-block-end: 9px;
  }

  .reasons {
    grid-template-columns: 30.7vw 1fr;
  }

  .reasons__title {
    grid-column: 1;
  }

  .reasons__block {
    grid-column: 2;
  }

  .factors__title {
    max-inline-size: 236px;
  }

  .tips {
    grid-template-columns: 30.7vw 1fr;
  }

  .tips__title {
    grid-column: 1;
  }

  .tips__block {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__title {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .sunset-image {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  
  .ice-cream-image {
    grid-column: 3;
    grid-row: 2 / span 2;
  }
  
  .tape-image {
    grid-column: 1;
    grid-row: 3 / span 2;
  }
  
  .books-image {
    grid-column: 2;
    grid-row: 3;
  }
  
  .street-image {
    grid-column: 2 / span 2;
    grid-row: 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    margin-block-start: 16px;
    max-inline-size: max(355px, 47.95vw);
  }

  .factors {
    grid-template-columns: repeat(3, 1fr);
  }

  .factors__title {
    max-inline-size: 100%;
  }

  .factors__block {
    grid-row-start: 2;
  }
}